body {
    background: darkgreen;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: red;
    text-align: center;
}

.numba1 {
    color: red;
    text-align: center;
}

.numba2 {
    color: red;
    text-align: center;
}